body {
    font-family: Arial, sans-serif;
    background-color: #26a7ce;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.login-container {
    background-color: rgb(142, 228, 223);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(224, 248, 240, 0.685);
    width: 300px;
    text-align: center;
}

.input-group {
    margin-bottom: 15px;
}

.input-group input {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid rgb(240, 140, 110);
    border-radius: 4px;
    box-sizing: border-box;
}

.show-password {
    margin-top: 10px;
    cursor: pointer;
}
